:root {
  --theme-color: hsl(210deg 95% 60%);
  --theme-hue: 210deg;
  --theme-saturation: 95%;
  --theme-luminosity: 60%;
  --error-color: hsl(354deg 70% 54%);
  --error-hue: 354deg;
  --error-saturation: 70%;
  --error-luminosity: 54%;
  --shadow-dialog: 0 10px 30px 0 rgb(0 0 0 / 20%);
  --shadow-separate: 0 0 8px 0 rgb(0 0 0 / 30%);
  --shadow-layer: 0 0 12px 0 rgb(0 0 0 / 50%);
}
