:root {
  --theme-color: hsl(210deg 95% 60%);
  --theme-hue: 210deg;
  --theme-saturation: 95%;
  --theme-luminosity: 60%;
  --error-color: hsl(354deg 70% 54%);
  --error-hue: 354deg;
  --error-saturation: 70%;
  --error-luminosity: 54%;
}
